# Binaries
*.exe
*.dll
*.pdb

# User-specific files
*.userprefs
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
obj/

# NuGet Packages
*.nupkg
packages/

# Visual Studio 2017/2019 cache/options directory
.vs/

# Visual Studio Code
.vscode/

# Resharper cache directory
*_ReSharper*/

# Build results of an ATL project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross-platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Binaries
/bin/
/obj/
